@charset "utf-8";
@import url("//fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");

html,body{
    width:100%;
    height:100%;
    font-family:'Roboto', 'Noto Sans KR', '돋움', dotum, AppleGothic, sans-serif;
    background-color: #000;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{
    margin:0;
    padding:0;
}
body,h1,h2,h3,h4,input,button{font-weight:normal;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button,textarea{vertical-align:middle;}
img{vertical-align: middle;}
i,em,address{font-style:normal;}
label,button{cursor:pointer}
button{
    margin:0;
    padding:0;
    border: 0;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}
*{
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    outline: none;
    font-family:'Roboto', 'Noto Sans KR', '돋움', dotum, AppleGothic, sans-serif;
}
a{color:#000;text-decoration:none}
a:hover{color:#000;text-decoration:none}
hr{display:none}
legend{*width:0}
table{border-collapse:collapse;table-layout:fixed;border-spacing:0;}
@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-moz-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@-o-keyframes rotate-loading {
    0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
    100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-moz-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-webkit-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}

@-o-keyframes loading-text-opacity {
    0%  {opacity: 0}
    20% {opacity: 0}
    50% {opacity: 1}
    100%{opacity: 0}
}
.loading-container {
    position: fixed;
    top: 0;left: 0;
    width: 100vw;
    height: 100vh;
}
.loading-container:before{
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.7;
}

.loading {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    z-index: 9;
    border: 2px solid transparent;
    border-color: transparent #fff transparent #FFF;
    -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
    -moz-transform-origin: 50% 50%;
    -o-animation: rotate-loading 1.5s linear 0s infinite normal;
    -o-transform-origin: 50% 50%;
    -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
    -webkit-transform-origin: 50% 50%;
    animation: rotate-loading 1.5s linear 0s infinite normal;
    transform-origin: 50% 50%;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    transform: translate(-50%, -50%);
    margin: 0;
}

.loading-container:hover .loading {
    border-color: transparent #E45635 transparent #E45635;
}
.loading-container:hover .loading,
.loading-container .loading {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: #ffffff;
    font-family: "Helvetica Neue, "Helvetica", ""arial";
    font-size: 10px;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
input[type=checkbox]{
    display:inline-block;
    position:relative;
    width: 20px;
    height: 20px;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    background:url(../img/ico_check-type01-off.png) no-repeat;
    margin:0;
    background-size:100%;
    outline:0;
    vertical-align:middle;
}
input[type=checkbox]:checked{
    background-image:url(../img/ico_check-type01-on.png);
}

.wrap{
    position: relative;
    z-index: 1;
    padding-top: 45px;
}
header{
    height: 45px;
    /* position: relative; */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 2;
}
header>h1{
    color: #fff;
    line-height: 46px;
    font-size: 16px;
    font-weight: 600;
}
header>h1>img,
header>h1>a>img{
    width: calc(100% - 100px);
    max-width: 260px;
    margin-top: -2px;
}
header>button{
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    overflow: hidden;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: 21px auto;
}
header>.btn-menu{
    left: 15px;
    text-align: left;
}
header>.btn-menu:before{
    content: '';
    display: inline-block;
    width: 21px;
    height: 45px;
    background-image:url(../img/btn-menu.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 21px auto;
    transition: all ease 1s;
}
header>.btn-menu.active:before{
    transform: rotate(360deg);
}
header>.btn-search{
    background-image:url(../img/btn-search.png);
    background-position: 100% 50%;
    right: 15px;
}
section>article{
    padding: 0 15px;
}
footer{
    padding: 20px 0;
    text-align: center;
    color: #a37340;
    font-size: 11px;
    margin-top: 50px;
}
.main-container>h2{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 60px;
}
.main-container>h2>img{
    width: 230px;
}
.main-container>.thomb>img{
    width: 100%;
}
.main-container>article>h3{
    margin-top: 40px;
    margin-bottom: 15px;
    color: #a37340;
    font-weight: bold;
    padding-top: 23px;
    font-size: 20px;
    position: relative;
}
.main-container>article>h3:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #a37340;
}
.main-container>article>p{
    line-height: 24px;
}
.main-container>article>ul>li{
    line-height: 24px;
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
}
.main-container>article>ul>li:before{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: #a37340;
}
.main-container>article>ul>li:last-child{
    margin-bottom: 0;
}
nav{
    position: fixed;
    top: 0;
    left: -110vw;
    width: 100vw;
    z-index: 2;
}
nav:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100vh;
    background-color: #000;
    opacity: 0.7;
    z-index: 3;
}
nav>button{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28px;
    right: 0;
    font-size: 0;
    background-image:url(../img/btn-close.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20px;
    z-index: 4;
    transition: all ease 1s;
}
nav>button.active{
    transform: rotate(-360deg);
}
nav>aside{
    background-color: #fff;
    width: calc(100% - 50px);
    height: 100vh;
    z-index: 4;
    padding-top: 82px;
    overflow-y: auto;
}
nav>aside>*{
    padding-right: 30px;
    padding-left: 30px;
}
nav>aside>h1{
    text-align: left;
    background-color: #a37340;
    padding-top: 45px;
    padding-bottom: 20px;
    height: 82px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
}
nav>aside>h1>img{
    width: 100%;
    max-width: 250px;
}
nav>aside>h2{
    text-transform: uppercase;
    background-color: #ededed;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #a37340;
    font-weight: bold;
    font-size: 16px;
}
nav>aside>ol,
nav>aside>ul{
    padding-top: 15px;
    padding-bottom: 15px;    
}
nav>aside ul>li>a{
    color: #666;
}
nav>aside ul>li>a.active{
    color: #000;
    position: relative;
}
nav>aside ul>li>a.active:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
    width: 100%;
}
nav>aside ul>li{
    margin-bottom: 15px;
}
nav>aside>ul>li:last-child{
    margin-bottom: 0;
}
nav>aside>ol>li>strong{
    color: #a37340;
    font-weight: normal;
    display: block;
    margin-bottom: 15px;
}
nav>aside>ol>li>strong:before{
    content: '-';
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: 15px;
}
nav>aside>ol>li>strong.active:before{
    content: '+';
}
nav>aside>ol>li>ul{
    padding-left: 15px;
}
.layer-search{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 15px;
    display: none;
    z-index: 3;
}
.layer-search:after{
    content: '';
    height: 2px;
    width: calc(100% - 75px);
    background-color: #fff;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.layer-search>*{
    float: left;
}
.layer-search>input[type=text]{
    background-color: #000;
    border: 0;
    height: 45px;
    line-height: 45px;
    width: calc(100% - 90px);
    font-weight: bold;
    color: #a37340;
    font-size: 16px;
}
.layer-search>input[type=text]:placeholder{
    color: #555555;
}
.layer-search>a,
.layer-search>button{
    width: 45px;
    height: 45px;
    overflow: hidden;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: 21px auto;
    background-position: 100% 50%;
}
.layer-search>.btn-enter{
    background-image:url(../img/btn-search.png);
}
.layer-search>.btn-close{
    background-image:url(../img/btn-close.png);
}
.product-container>h2{
    color: #a37340;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
}
.product-container .item{
    height: auto;
}
.product-container .item>.thomb{
    position: relative;
}
/*
.product-container .item>.thomb:before{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 7px;
    --background-image:url(../img/watermark.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 50%;
}
*/
.product-container .item>.thomb>ul{
    position: absolute;
    top: 30px;
    left: 10px;
    width: calc(100vw - 20px);
}
.product-container .item>.thomb>ul>li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    font-weight: 500;
    font-size: 17px;
}
.product-container .item>.thomb>ul>li>img{height: 14px;width: auto;display: inline-block;margin-left: 10px;vertical-align: middle;margin-top: -2px;}
.product-container .item>.thomb>ul>li:before{
    width: 4px;
    height: 4px;
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #fff;
}
.product-container .item>.thomb>ul.fs14>li{
    font-size: 14px;
}
.product-container .item>.thomb>ul.fs14>li:before{
    top: 6px;
}
.product-container .item>.thomb>ul>li:last-child{
    margin-bottom: 0;
}
.product-container .item>.thomb>img{
    width: 100%;
}
.product-container .item>h3{
    margin: 20px 0;
    padding: 0 15px;
}
.product-container .item>h3>span{
    color: #a37340;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.product-container .item>h3>span:after{
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #a37340;
}
.product-container .item>ol{
    padding: 0 15px;
}
.product-container .item>ol>li{
    margin-bottom: 10px;
}
.product-container .item>ol>li>strong{
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}
.product-container .item>ol>li>img{
    width: auto;
    height: 14px;
    display: inline-block;
    margin-left: 10px;
    margin-top: -2px;
}
.product-container .item>ol>li:last-child{
    margin-bottom: 0;
}
.product-container .item>ol>li:before{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 1px;
    color: #000;
    margin-right: 10px;
    font-weight: bold;
}
.product-container .item>ol>li:nth-child(1):before{
    content: '1'
}
.product-container .item>ol>li:nth-child(2):before{
    content: '2'
}
.product-container .item>ol>li:nth-child(3):before{
    content: '3'
}
.product-container .item>ol>li:nth-child(4):before{
    content: '4'
}
.product-container .item>ol>li:nth-child(5):before{
    content: '5'
}
.product-container .item>ol>li:nth-child(6):before{
    content: '6'
}
.product-container .item>ol>li:nth-child(7):before{
    content: '7'
}
.product-container .item>ol>li:nth-child(8):before{
    content: '8'
}
.product-container .item>ol>li:nth-child(9):before{
    content: '9'
}
.product-container .item>h4{
    margin: 20px 0 10px;
    padding: 0 15px;
    color: #a37340;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    display: inline-block;
}
.product-container .item>h4>img{
    display: inline-block;
    height: 14px;
    width: auto;
    margin-left: 10px;
}
.product-container .item>p{
    padding: 0 15px;
    line-height: 26px;
    font-weight: 200;
}
.owl-carousel .owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-carousel .owl-dots>.owl-dot{
    background-color: #624526;
    width: 8px;
    height: 8px;
    opacity: 1;
    margin: 0 5px;
}
.owl-carousel .owl-dots>.owl-dot.active{
    background-color: transparent;
    border: 2px solid #a37340;
    width: 10px;
    height: 10px;
}
.search-container>h2{
    color: #fff;
    font-weight: normal;
    font-size: 17px;
    padding: 15px 0;
    margin: 0 15px;
    border-bottom: 1px solid #523a20;
}
.search-container>h2>span{
    color: #ba8748;
    font-size: 17px;
    font-weight: bold;
}
.search-container>ol{
    margin: 0 15px;
}
.search-container>ol>li{
    padding: 20px 0;
    border-bottom: 1px solid #523a20;
}
.search-container>ol>li>h3{
    color: #a37340;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.search-container>ol>li>p{
    margin-bottom: 10px;
    line-height: 26px;
}
.search-container>ol>li>p>span{
    color: #a37340;
}
.search-container>ol>li>a{
    color: #555;
}
.search-container>ol>li>a:after{
    content: '>';
    font-size: 11px;
    margin-left: 5px;
}
.search-container>.none-search{
    padding-top: 65px;
    margin: 150px 0;
    text-align: center;
    background-image:url(../img/icon-nosearch.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 55px auto;
    text-transform: uppercase;
}
.brand-container>h2{
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: #a37340;
    font-weight: bold;
    padding-top: 23px;
    font-size: 20px;
    position: relative;
}
.brand-container>h2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #a37340;
}
.brand-container>article{
    margin-top: 50px;
}
.brand-container>h2+article{
    margin-top: 0;
}
.brand-container>article>.thomb{
    position: relative;
}
.brand-container>article>.thomb:before{
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 7px;
    background-image:url(../img/watermark.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 50%;

}
.brand-container>article>.thomb>ul{
    position: absolute;
    top: 25px;
    left: 10px;
}
.brand-container>article>.thomb>ul>li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
    line-height: 22px;
    font-weight: 400;
    font-size: 17px;
}
.brand-container>article>.thomb>ul.fs14>li{
    font-size: 14px;
}
.brand-container>article>.thomb>ul>li:before{
    width: 4px;
    height: 4px;
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #fff;
}
.brand-container>article>.thomb>ul>li:last-child{
    margin-bottom: 0;
}
.brand-container>article>.thomb>img{
    width: 100%;
}
.brand-container>article>.thomb>p{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
}
.brand-container>article>ol{
    margin-top: 25px;
}
.brand-container>article>ol>li{
    margin-top: 10px;
    position: relative;
    line-height: 22px;
    padding-left: 10px;
    font-weight: 200;
}
.brand-container>article>ol>li:before{
    width: 4px;
    height: 4px;
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    background-color: #fff;
}
.brand-container>article>ol>li:first-child{
    margin-top: 0;
}